.paginate-center-align{
    justify-content: center;
    margin: 20px;
}

.product-list-scroll{
    height:72vh;
    overflow-y:scroll;
}
.product-list-sticky-header{
    position: sticky;
    top: 0;
}